#!/usr/bin/env bash
set -e

_DIR=`pwd`

# VIRTUAL_ENV=$_DIR/.venv
# PATH="$VIRTUAL_ENV/bin:${PATH}"

# if [[ ! -d $VIRTUAL_ENV ]]; then
# asdf install
# pip install virtualenv
# asdf reshim
# virtualenv $VIRTUAL_ENV
# pip install -r requirements.txt
# fi

# PATH="$_DIR/.direnv/bin:$PATH"
#
# LIB_PATH=$VIRTUAL_ENV/lib/
#
export PYTHONPATH="$PYTHONPATH:$_DIR"
